/*
Author:Joy
Theme:Cake Order
Version:1.0
*/

/*class for all*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 10px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color: black;
    text-decoration: none;
}
a :hover{
    color: red;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}
.btn-primary{
    background-color: pink;
    color: black;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: black;
    color: white;
}
h2{
    color: grey;
    font-size: 2rem;
    margin-bottom: 2% solid;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 25%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 1%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}
/*for navbar section*/
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
/*cake search section*/
.cake-search{
   /*background-image: url(../images/bg.jpeg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    padding: 5% 0;
}
.cake-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/*css for categories*/
.categories{
    padding: 4% 0;
}
.box-3{
    width: 25%;
    float: left;
    margin: 2%;
}
/*css for cake menu*/
.cake-menu{
    background-color: lightgrey;
    padding: 4% 0;
}
.cake-menu-box{
    width: 25%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.cake-menu-img{
    width: 20%;
    float: left;
}
.cake-menu-description{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.cake-price{
    font-size: 1.2rem;
    margin: 2% 0;
    color: black;
}
.cake-details{
    font: 1rem;
    color: grey;
}
/*css for order*/
.order{
    width: 50%;
    text-align: center;

}

/*css for social*/
.social ul{
    list-style: none;
}
.social ul li{
    display: inline;
    padding: 1%;
    
}

/*css for login*/
.login{
    width: 20%;
    border: 1px solid grey;
    margin: 10% auto;
    padding: 2%;
    background-color: grey;
}
/*css for chatbot*/
.chatbot{
    background-color: grey;
}
.chat {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .chat h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .user-message {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .bot-message {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  
  .chatbot form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .chatbot input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  /*css for tracking order*/
  .tracking{
    background-color: grey;
  }
  
/*css for mobile size*/
@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .cake-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 5%;
    }
    .btn{
        width: 90%;
        padding: 2%;
    }
    .cake-search{
        padding: 10% 0;
    }
    .categories{
        padding: 20% 0;
    }
    h2{
        margin: 5% auto;
    }
    .box-3{
        width: 95%;
        margin: 4% auto;
    }
    .cake-menu{
        padding: 20% auto;
    }
    .cake-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
}

